@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --gray-border: #3B3B3B;

    --gray: #C0C0C0;
    --white: #FFFFFF;
    --black: #000000;
    --gold: #E18A07;
    --smoke: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* modal */

.modal {
    position: absolute;
    /* transform: translateX(-50%), translateY(-50%); */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    z-index: 99;
    width: 700px;
    max-width: 80%;
    height: 350px;
    background: var(--white);
    margin: auto;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
    transition: border 200ms ease-in-out, transform 200ms ease-in-out ;
    border: 1px solid var(--white);
    flex-direction: column;

}

.modal.modalactive {
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.modal:hover {
    border: 1px solid var(--gold);
}

.modal .exit {
    width: 100%;
    justify-content: flex-end;
    padding: 0.5rem 0.5rem 0 0;
}

.modal .exit i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black);
    transition: color 100ms;
}

.modal .exit i:hover {
    color: var(--gold);
}

.modal .password_area {
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.modal .password_area h2 {
    text-align: center;
    margin: 1rem;
}

.modal .password {
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.modal .password input[type='text'] {
    font-size: 1.7rem;
    padding: 0.5rem;
    border: 1px solid var(--gray);
    outline: none;
    height: 50px;
    width: 100%;
    transition: 300ms border ease-in-out;
    cursor: default;
    background: var(--gray);
    text-align: center;
}

.modal .password input[type='text']:hover {
    border: 1px solid var(--gold);
}

.modal .password div:nth-child(1) {
    width: 100%;
}

.modal .password div:nth-child(2) {
    border: 1px solid var(--gray);
    width: 50px;
    height: 50px;
    transition: 300ms border ease-in-out;
    cursor: pointer;
}

.modal .password div:nth-child(2)::before {
    border: 1px solid var(--gold);
    position: absolute;
    /* content: 'Copy'; */
    content: attr(data-before);
    text-align: center;
    padding: 0.3rem 0;
    width: 80px;
    background: var(--gray);
    margin-top: 112px;
    opacity: 0;
    transition: 200ms opacity;
}

.modal .password div:nth-child(2)::after {
    position: absolute;
    content: '';
    margin-top: 70px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 13px solid var(--gold);
    opacity: 0;
    transition: 200ms opacity;
}

.modal .password div:nth-child(2):hover::before {
    opacity: 1;
}

.modal .password div:nth-child(2):hover::after {
    opacity: 1;
}

.modal .password div:nth-child(2):hover {
    border: 1px solid var(--gold);
}

.modal .password div:nth-child(2) i {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/* end modal */

/* overlay */
.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.overlay.modalactive {
    opacity: 1;
    pointer-events: all;
}

.con.modalactive {
    filter: blur(0.4rem);
}

.footer.modalactive {
    filter: blur(0.4rem);
}

/* end overlay */

body {
    font-family: 'Lato', sans-serif;
    /* background-image: url(../img/bg3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top; */
    background: var(--gray);
    overflow: hidden;
}

.con {
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    overflow: auto;
    gap: 3rem;
    max-width: 600px;
    padding: 0 2rem;
    /* filter: blur(0.4rem); */
    transition: filter 200ms ease-in-out;
}

.con .header h1 {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    text-shadow: 1px 1px 0px rgba(225, 138, 7, 1);
}

.con .main {
    /* border: 1px var(--gray-border) solid; */
    /* width: 800px;
    height: 700px; */
    width: 100%;
    margin: 0 auto 1rem 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;
    background: var(--white);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
    border: 1px solid var(--white);
    transition: border 200ms ease-in-out;
}

.con .main:hover {
    border: 1px solid var(--gold);
}

.main .header {
    width: 100%;
    padding: 2rem 0;
}

.main .header p {
    font-size: 1.2rem;
    text-align: center;
}

.main form {
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;
}

.main form .element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main form .element *:nth-child(1),
.main form .element *:nth-child(2) {
    width: 100%;
}

.main form .element *:nth-child(1) {
    font-size: 1.1rem;
    text-align: left;
}

.main form .element *:nth-child(2) {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main form .element input[type='text'],
.main form .element input[type='number'] {
    width: 75%;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    outline: none;
    transition: 300ms border-bottom ease-in-out, 300ms background ease-in-out;
    padding: 0.2rem 0;
}

.main form .element input[type='text']:focus,
.main form .element input[type='number']:focus {
    border-bottom: 1px solid var(--gold);
    background: var(--gray);
}


.main form .element input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    background: var(--white);
    font: inherit;
    color: var(--gold);
    width: 1.5rem;
    height: 1.5rem;
    border: 1px var(--gray) solid;
    display: grid;
    place-content: center;
    transition: 120ms background ease-in-out, 120ms border ease-in-out;
    cursor: pointer;
}

.main form .element input[type='checkbox']::before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--gold);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.main form .element input[type='checkbox']:checked {
    border: 1px var(--gold) solid;
    background: var(--gray);
}

.main form .element input[type='checkbox']:checked::before {
    transform: scale(1);
}

.main form .form_btn {
    width: 100%;
    margin: 2rem 0 0 0;
}

.main form .form_btn button[type='submit'] {
    padding: 0.7rem 2rem;
    /* background: var(--gray); */
    background: var(--smoke);
    outline: none;
    border: 2px solid var(--gold);
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: background 200ms, transform 200ms;
    border-radius: 0.6rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 11px 20px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 11px 20px -12px rgba(0, 0, 0, 1);
    box-shadow: 0px 11px 20px -12px rgba(0, 0, 0, 1);
}

.main form .form_btn button[type='submit']:hover {
    /* background: var(--smoke); */
    background: var(--gray);
    transform: translateY(-3px);
}

/* footer */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: var(--white);
    border-top: 1px solid var(--gold);
    gap: 0.2rem;
    padding: 0.5rem 0;
    /* filter: blur(0.4rem); */
    transition: filter 200ms ease-in-out;
}

.footer a {
    color: var(--gold);
}
